venv/
__pycache__
*.pyc
node_modules/
.pytest_cache
data-labelling-app-frontend/
.env
.cursor/
docs/
!docs/system_arch.png
!docs/system_arch_macro.png
!docs/system_arch_macro.pdf
.ruff_cache/
.pytest_cache/
.agents/
__pycache__/
skills-lock.json
.agents/
config/
__pycache__/
docker-compose.prd.yml
readmes/